@font-face {
    font-family: 'Nippo-Variable';
    src: url('../fonts/nippo/Nippo-Variable.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Variable.woff') format('woff'),
        url('../fonts/nippo/Nippo-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Extralight';
    src: url('../fonts/nippo/Nippo-Extralight.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Extralight.woff') format('woff'),
        url('../fonts/nippo/Nippo-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Light';
    src: url('../fonts/nippo/Nippo-Light.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Light.woff') format('woff'),
        url('../fonts/nippo/Nippo-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Regular';
    src: url('../fonts/nippo/Nippo-Regular.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Regular.woff') format('woff'),
        url('../fonts/nippo/Nippo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Medium';
    src: url('../fonts/nippo/Nippo-Medium.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Medium.woff') format('woff'),
        url('../fonts/nippo/Nippo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Bold';
    src: url('../fonts/nippo/Nippo-Bold.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Bold.woff') format('woff'),
        url('../fonts/nippo/Nippo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

:root {
    --font-size: 18px;
    --mobile-font-size: 14px;
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --green: rgb(146, 227, 169);
    --green-light: rgb(173, 201, 181);
    --green-dark: rgb(102, 159, 119);
    --white-light: rgb(241, 241, 241);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--mobile-font-size);
    font-family: 'Poppins',
        sans-serif;
}

section {
    margin: 0 5%;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

::-webkit-scrollbar {
    width: 3px;
    height: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green-dark);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    align-items: center;
}

.logo {
    text-transform: capitalize;
    font-size: 1.25rem;
    color: var(--green);
    cursor: pointer;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo>a {
    height: 30px;
    width: 30px;
}

.logo>a>img {
    max-width: 100%;
}

#menu-button {
    display: none;
}

#menu-button:checked~.side-menu {
    left: 0%;
}

nav>label>ion-icon {
    font-size: 2rem;
    cursor: pointer;
}

.side-menu {
    list-style: none;
    display: flex;
    position: fixed;
    z-index: 1;
    left: -100%;
    flex-direction: column;
    background: var(--white);
    color: var(--black);
    height: 100%;
    width: 100%;
    top: 0;
    transition: all ease 0.3s;
}

.side-menu>label>ion-icon {
    font-size: 2rem;
    position: absolute;
    right: 3%;
    top: 2%;
    cursor: pointer;
}

.side-menu>ul {
    margin: 70px 20px;
    list-style-type: none;
    text-transform: capitalize;
}

.side-menu>ul>p {
    font-size: 1.3rem;
    color: var(--green);
    font-weight: 600;
}

.side-menu>ul>li {
    font-size: 1.3rem;
    margin: 20px 0;
    font-weight: 500;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-section>form {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.about-section>form>input {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 0.65rem;
    outline: none;
    border: none;
    background: var(--white-light);
}

.about-section>form>button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 60px;
    border-radius: 20px;
    border: none;
    background: var(--green-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section>form>button>ion-icon {
    font-size: 1.3rem;
    color: var(--white);
}

.about-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    padding: 0 20px;
}

.about-top>p {
    font-size: 1.5rem;
    font-weight: 500;
}

.about-top>p>span {
    font-size: inherit;
    font-weight: inherit;
    background: #000000;
    background: linear-gradient(to top, #000000 0%, #E1E392 0%, #669F77 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-top>button {
    width: 60%;
    height: 50px;
    text-transform: capitalize;
    border-radius: 20px;
    margin: 30px 0;
    border: none;
    background: var(--black);
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;
}

.about-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    max-width: 50%;
}

.about-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-bottom>p:nth-child(1) {
    padding: 0 30px;
    font-size: .875rem;
    margin: 30px 0;
    font-weight: 300;
    text-align: center;
}

.about-bottom>p:nth-child(2) {
    padding: 0 0 30px 0;
    font-size: 1rem;
}

.about-bottom>button {
    text-transform: capitalize;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: var(--green-dark);
    color: var(--white);
}

.spotlight-section {
    padding: 25% 0;
    position: relative;
}

.spotlight-section>h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Nippo-Medium";
    white-space: wrap;
}


.spotlight-section>h3>span:nth-of-type(1) {
    display: block;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: inherit;
    color: var(--green);
    font-family: inherit;
}

.spotlight-section>h3>span:nth-of-type(2) {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.spotlight-section>h3>span:nth-of-type(2)>img {
    max-width: 100%;
}

.spotlight-section>h3>ion-icon {
    font-size: 1.2rem;
    font-weight: inherit;
    margin-left: 1%;
}

.spotlight-options {
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px 0; */
}

.spotlight-options>ul>li {
    list-style-type: none;
    text-align: center;
    text-transform: capitalize;
    background: var(--green-dark);
    margin: 20px 0;
    padding: 12px;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
}

.spotlight-options>ul>li:hover {
    background-color: #86F673;
    /* border: 3px solid #47C789; */
}

.spotlight-image {
    overflow: scroll;
    overflow-y: hidden;
    display: flex;
}

.option-images {
    padding: 5px;
}

.spotlight-section>button {
    position: absolute;
    bottom: 2%;
    left: 25%;
    width: 50%;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    text-transform: capitalize;
    color: var(--white);
    background: var(--black);
}

footer {
    height: 35vh;
    margin: 50px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer>ul>li {
    text-transform: capitalize;
    list-style: none;
    padding: 5px;
}

footer>p {
    font-size: .6rem;
    text-align: center;
}

footer>p>a {
    color: var(--green);
}

.ls {
    display: none;
}

.sm {
    display: block;
}

@media (min-width: 1025px) {
    * {
        font-size: var(--font-size);
    }

    body {
        max-width: 70%;
        margin: 0 auto;
    }

    .ls {
        display: block;
    }

    .sm {
        display: none;
    }

    header {
        padding: 20px 0;
    }

    .menu-items {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    .menu-items li {
        text-transform: capitalize;
        margin: 0 20px;
        cursor: pointer;
        font-weight: 500;
    }

    .menu-items li:nth-of-type(3)>a {
        background: var(--black);
        color: var(--white);
        border-radius: 20px;
        padding: 10px 20px;
        height: 50px;
    }

    .about-section>form {
        width: 70%;
    }

    .about-section>button {
        width: 30%;
        height: 60px;
        text-transform: capitalize;
        border-radius: 25px;
        margin: 30px 0;
        border: none;
        background: var(--black);
        color: var(--white);
        font-size: 1.1rem;
        font-weight: 500;
    }

    .about-image img {
        max-width: 100%;
    }

    .about-top>p {
        width: 50%;
    }

    .about-bottom {
        width: 70%;
    }

    .about-bottom>button {
        width: 40%;
    }

    hr {
        margin: 20% 0;
        height: 3px;
        background: var(--green-dark);
    }

    .spotlight-section {
        padding: 0;
        height: 70vh;
    }

    .spotlight-section>button {
        bottom: 0;
    }
}